extends layout

block content
  .row
    .large-12.columns
      h2= title
      //- TODO: Maybe use pictures here?

      h3.subheader Continuum

      h3.subheader Residential staff

      h3.subheader Faculty advisors
