extends layout

block content
  .row
    .large-12.columns
      h2 Who we are

      //- This image is floated to the right
      img#machine-image(src='/images/machine.png')

      p.
        The Science and Technology Wing is a collection of over two hundred undergraduates,
        graduate students, professors, and alumni at the University of Pennsylvania.
        Our members share a strong interest in the science and technology which permeate
        our everyday lives, not to mention a sense of humor.

      p.
        Our members pursue a wide variety of research projects, for academic credit or
        personal interest.
        We host dinner discussions with University faculty and staff, as well as
        holding several social events throughout the year, including the annual
        <a href='/rgb'>Rube Goldberg competition</a>.

      p.
        STWing currently occupies the second floor of King's Court, and is well on its
        way to taking over the world.


  .row
    .large-12.columns
      h2 What we do
      p.
        STWing is largely a project based community. We like to build and plan, building
        anything from go karts to blimps. STWingers have a fundamental desire to use
        their knowledge and abilities to accomplish amazing and, more importantly,
        really entertaining things.

    //- Use a selection of pictures of STWingers doing cool stuff
    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')
    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')
    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')

    .large-12.columns
      //- TODO: We need to update this portion of the copy
      p.
        STWing frequently holds dinner discussions with various members of the faculty,
        ranging from Dan Lee, who works with robotics, and Max Mintz, a professor in the
        computer science department. In addition, we have brought over outside figures
        like Richard Stallman, the founder of the GNU project and software freedom
        activist.

    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')
    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')
    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')

    .large-12.columns
      p.
        And, of course, we have fun.

    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')
    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')
    .large-4.columns
      img(src='images/loader.gif', data-src='http://placehold.it/400x300')
