extends jpf-layout

block jpf-content
  h2= title
  p.
   The article below was originally published on
   <a href='http://www.upenn.edu/pennnews/current/node/209'>May 14, 1998</a>.

  article#jpf-background
    h3 STWing award named for John C. Parker
    h4: small By LIBBY ROSOF

    p "Everyone wants to learn a little something."

    p.
      So said John C. Parker, a graduating senior honored with a new award named after
      him -- the John C. Parker Fellowship for Undergraduate Research -- not because
      he was rich and gave a lot of money, but because of his extraordinary
      contributions to his fellow students in the Science and Technology Wing (STWing).

    p.
      The award, a $1,000 fellowship was announced April 26 at the fourth annual STWing
      banquet, and will be awarded annually by STWing to fund an independent
      undergraduate research project of a resident of Kings Court/English House College
      House, which is where the main residence group for STWing is.

    p.
      Parker himself wanted to learn a little something, and then a little something
      more when he came to Penn. And by gum he did. And it wasn't all in the classroom.
      Critical parts were learned informally -- in STWing and at his job in the Physics
      Department. In those two places, fellow students and on-the-job experience
      taught Parker all about computers.

    p.
      He learned so much that he became a systems administrator in both places.
      And now he's going to do the same kind of work for Computing & Educational
      Technology Services (CETS) in the School of Engineering and Applied Science.

    p.
      But when he arrived at Penn as a freshman, he knew nothing about computers except
      how to play a few games and how to write a paper on them.
      "I never heard the term e-mail before freshman year."

    p.
      Fortunately, he lived in STWing, a residential living and learning program that
      is part of the 21st Century Project for the Undergraduate Experience.
      STWing allows about 230 students with an interest in science and technology to
      associate and learn together and to learn from one another -- not necessarily
      about science and technology, either.
      Parker, for instance, learned from a fellow STWinger to read music and play the
      tuba well enough to play in the Penn Band for a year.

    p.
      Most of the learning exchange is science and technology oriented. Parker's
      neighbors his first year were people who knew about computers.
      In the course of learning about computers from them, he discovered his vocation.
      "I came in as an astrophysics major, and I'm graduating as a physics major.
      But I found out I loved technology even more," he said.

    p.
      He also found that his love for interacting with people was even greater than
      his love for technology.
      "Interacting with people is a lot more fun -- answering questions, getting other
      people interested in what's new."

    p.
      That and his ability to lead earned him the unusual honor.

    p.
      "He leads by example, by enthusiasm, by warmth, by the strength of his
      personality," said Jorge Santiago-Aviles, associate professor of electrical
      engineering and senior faculty resident of King's Court.
      "He has a tremendous capacity for work.
      The other members of the group consider him an older brother or father figure,
      but he's a kid."

    p.
      His leadership also impressed Assistant Dean of King's Court M. Krimo Bokreta.
      "For these past four years, John has been a role model for me.
      He has selflessly given his time to his friends on the program.
      This is the peer culture you're striving to create."

    p.
      Parker got things done, Santiago said.
      "He's such a natural leader that he doesn't have to make much fuss to organize
      things. He's unique, always getting the best out of people, mostly because he
      gives the best out of himself."

    p.
      Parker is looking forward to staying at Penn.
      "There's a lot of technology development, particularly computer technology
      and telecommunications in Philadelphia, and especially at Penn," Parker said.
      "I'm really happy for the opportunity to be part of it, to get experience not
      necessarily possible to get in other working environments."

    p.
      Next year Parker may not travel far from STWing, but according to Santiago,
      "He is going to go places."