extends jpf-layout

block jpf-content
  h2= title

  p.
    In honor of John C. Parker, a STWing alumni, the John C. Parker Fellowship was
    established to support the research efforts of undergraduate students at the
    University of Pennsylvania.
    As an undergraduate, this is a wonderful opportunity to do some serious independent
    research.

  p.
    Up to three research proposal submissions will receive funding for up to $1000 each
    from the JPF.
    For more information concerning the JPF and how to apply, please read our
    <a href='/jpf/rules'>rules and eligibility</a>
    and <a href='/jpf/instructions'>instructions</a> pages.

  p.
    All questions concerning the Fellowship should be directed to Beeker at
    beeker@stwing.upenn.edu.