extends jpf-layout

block jpf-content
  h2= title

  p.
    The John C. Parker Fellowship is awarded annually to the applicants who submit the
    best proposals for original, scientific research projects.
    If accepted, applicants will ultimately give a dinner presentation of their work
    before an open audience.
    The JPF panel will grant three fellowships, up to $1000.

  h3.subheader Eligibility
  p.
    Although all undergraduate students of the University of Pennsylvania are eligible
    to apply, priority is given to freshmen and sophomores.
    Multiple applicants may apply to work on a single project.
    Eligible topics of research include any scientific matter, with priority given to
    those in the natural sciences and/or engineering.
    The research must be an original, independent venture, unaffiliated with any
    other Penn-sponsored research.

  h3.subheader Application procedure
  p.
    The applicant is required to submit a brief, yet comprehensive proposal explaining
    the nature of the research.
    In the event that multiple applicants apply for a single project, only one
    person should supply his/her personal information.
    It is strongly recommended that the applicants find a suitable faculty member,
    preferably in the field of research relevant to the fellowship, to act as an
    advisor during the period of the fellowship.
    If no professor is available, STWing will be able to provide references.

  p.
    Research proposals should roughly follow
    <a href='/jpf/outline'>this format</a>, .
    A sample proposal is supplied on the John Parker Fellowship website
    www.stwing.upenn.edu/jpf/jpf_example.html.

  h3.subheader Selection criteria
  p.
    The applications will be judged by a panel of STWing members and faculty with the
    following criteria:

  ul.disc
    li Perceived commitment to the project
    li Significance in the field of research
    li Completeness of methodology
    li Detail in timetable

  h3.subheader Expectations
  p.
    Award winners are expected to perform the research in a timely and efficient manner.
    It is not required that projects are completed by the May presentation.
    However, enough progress should be achieved to supply a 15 minute presentation.