extends jpf-layout

block jpf-content
  h2= title
  p.
    Thank you for your submission. You should receive a confirmation email soon.
    Please let us know if you have not received anything for 24 hours.